<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%BA%D0%B5%D0%B9%D1%81%D1%8B%20%D0%BF%D0%BE%20%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D1%83%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85/%D0%B7%D0%B0%D1%80%D0%BF%D0%BB%D0%B0%D1%82%D1%8B%20%D0%B2%20%D0%98%D0%A2.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [0]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')
df.head(10)

   id Дата рождения  ...          Локация З/п в валюте найма
0   1    18.04.1994  ...  Санкт-Петербург       140 000,00 ₽
1   2    27.03.1993  ...           Москва       130 000,00 ₽
2   3    24.11.1983  ...  Санкт-Петербург       200 000,00 ₽
3   4    09.06.1989  ...           Москва       250 000,00 ₽
4   5    03.10.1978  ...  Санкт-Петербург       172 413,00 ₽
5   6    21.08.1973  ...  Санкт-Петербург       280 000,00 ₽
6   7    10.10.1991  ...           Москва       129 000,00 ₽
7   8    16.08.1982  ...           Москва       185 000,00 ₽
8   9    16.05.1988  ...  Санкт-Петербург       160 000,00 ₽
9  10    01.12.1990  ...   Краков; Польша        9 500,00 zł

[10 rows x 6 columns]

### Определите среднюю з.п. по данным в рублях

In [0]:
dfRub = df[df['З/п в валюте найма'].str.contains('₽')]
meanWage = dfRub['З/п в валюте найма'].str.translate(str.maketrans({'₽': '', ',': '.', u'\xa0': ''})).astype(float).mean()
print('Средняя з.п.:',str(meanWage) + '₽')

Средняя з.п.: 190669.89488372093₽

### Определите технологию с максимальной з.п. по данным в рублях

In [0]:
dfRub.groupby(['Технология'])['З/п в валюте найма'].max()
# Ответ: QA -> 375 000,00 ₽ (Но база странная, так как насколько я понимаю QA это не технология, а профессия) Если брать технологии, то это JS или Java, что не удивительно

Технология
.NET          200 000,00 ₽
Android       185 000,00 ₽
BI            200 000,00 ₽
Big Data      280 000,00 ₽
C++           206 896,00 ₽
GameDev       130 631,00 ₽
JS            200 000,00 ₽
Java          300 000,00 ₽
JavaScript    300 000,00 ₽
PHP           201 149,43 ₽
QA            375 000,00 ₽
Sales         150 000,00 ₽
Scala         250 000,00 ₽
iOS           184 000,00 ₽
Name: З/п в валюте найма, dtype: object

### Определите возраст программистов с максимальной з.п. по данным в рублях

In [0]:
dfRub.groupby(['Дата рождения'])['З/п в валюте найма'].max()
# Ответ: 34 (16.03.1986 -> 375 000,00 ₽)

Дата рождения
01.11.1991    300 000,00 ₽
02.02.1972    200 000,00 ₽
03.02.1970    145 000,00 ₽
03.04.1994    184 000,00 ₽
03.10.1978    172 413,00 ₽
04.01.1996    130 631,00 ₽
04.02.1991    170 000,00 ₽
04.05.1988    201 149,43 ₽
04.07.1992    169 540,23 ₽
04.08.1987    180 000,00 ₽
05.03.1989    250 000,00 ₽
06.03.1989    200 000,00 ₽
06.07.1990    113 000,00 ₽
07.02.1993    183 908,00 ₽
09.02.1985    300 000,00 ₽
09.02.1992    264 367,82 ₽
09.06.1989    250 000,00 ₽
09.10.1990    170 000,00 ₽
10.10.1989    165 000,00 ₽
10.10.1991    129 000,00 ₽
12.11.1990    185 000,00 ₽
16.03.1986    375 000,00 ₽
16.05.1988    160 000,00 ₽
16.08.1982    185 000,00 ₽
17.04.1992    190 000,00 ₽
18.04.1994    140 000,00 ₽
20.06.1991    150 000,00 ₽
21.08.1973    280 000,00 ₽
21.09.1985    135 000,00 ₽
23.12.1988    170 000,00 ₽
24.11.1983    200 000,00 ₽
25.01.1978    100 000,00 ₽
25.10.1985    252 900,00 ₽
26.07.1989    206 896,00 ₽
26.09.1981    210 000,00 ₽
26.12.1987    210 000,00 ₽
27.03.1993    130 000,00 ₽
27.05.1986    150 000,00 ₽
28.08.1977    161 000,00 ₽
28.08.1995    160 000,00 ₽
29.10.1987    190 000,00 ₽
29.12.1991    200 000,00 ₽
30.08.1982    180 000,00 ₽
Name: З/п в валюте найма, dtype: object

### Определите зарплаты работников, у которых в названии вакансии встречается слово Engineer

In [0]:
df[df['Вакансия'].str.contains('Engineer')][['Вакансия','З/п в валюте найма']]

                     Вакансия З/п в валюте найма
4      QA Automation Engineer       172 413,00 ₽
9               Java Engineer        9 500,00 zł
11              .NET Engineer       12 000,00 zł
12        JavaScript Engineer       10 500,00 zł
13          Software Engineer        9 500,00 zł
18   Senior Software Engineer       200 000,00 ₽
19                QA Engineer       135 000,00 ₽
37        JavaScript Engineer       13 000,00 zł
38   Senior Software Engineer        lev6 446,00
39   Test Automation Engineer       Ft650 000,00
54              .NET Engineer       80 000,00 Kč